html, body {
  background-color: #fff;
  padding: 8px;
  font: 32px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight: 400;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  margin: 0 0 0px;
}

h1 {
  display: inline-block;
  margin-left: 20px;
  font-size: 40px;
  font-weight: 700;
}

h2 {
  display: inline-block;
  margin-left: 12px;
  font-size: 20px;
  font-weight: 100;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
}

img {
  max-width:100%;
}

header {
  display: block;
  NOfloat: left;
  NOposition: fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

.inline-block-center {
  text-align: center;
}
.inline-block-center div {
  display: inline-block;
  text-align: center;
}

.team {
  font-size: 16px;
  display: inline-block;
  background-color: #ff4019;
  max-width: 100%;
  width: 256px;
  height: 256px;
  margin: 8px;
  padding: 8px;
  border-radius: 5px;
}

.badge {
  font-size: 8px;
  display: inline-block;
  background-color: #ffd700;
  width: 32%;
  height: 32%;
  padding-top: 2px;
  border-radius: 3px;
}

.Gray {
  background-color: #040404;
  background-image: url(../img/Gray.png);
  background-size: cover;
}

.Bronze {
  background-color: #CD7F32;
  background-image: url(../img/Bronze.png);
  background-size: cover;
}

.Silver {
  background-color: #C0C0C0;
  background-image: url(../img/Silver.png);
  background-size: cover;
}

.Gold {
  background-color: #FDD017;
  background-image: url(../img/Gold.png);
  background-size: cover;
}

.Platinum {
  background-color: #E5E4E2;
  background-image: url(../img/Platinum.png);
  background-size: cover;
}

.Diamond {
  background-color: #4EE2EC;
  background-image: url(../img/Diamond.png);
  background-size: cover;
}

footer {
  display: block;
  font-size: 12px;
  font-weight: 100;
  float: right;
  noposition: fixed;
  nobottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}

@media print, screen and (max-width: 960px) {

}

@media print, screen and (max-width: 720px) {

}

@media print, screen and (max-width: 480px) {

}

@media print {

}
