<!doctype html>
<html ng-app="Leaderboard" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Leaderboard for #SogetiBattle</title>

    <meta name="viewport" content="width=device-width">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="viewport" content="width=device-width, user-scalable=0" />

    <script src="http://code.jquery.com/jquery-1.12.0.min.js" type="text/javascript"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.min.js" type="text/javascript"></script>
    <script src="js/Leaderboard.js" type="text/javascript"></script>
    <link rel="stylesheet" href="css/Leaderboard.css">
    
  </head>

  <body>
    <div id='Leaderboard' ng-controller='LeaderboardController as LeaderboardCtrl'>

      <header>
        <h1>Sogeti Applied Innovation Battle</h1>
        <h2>Leaderboard for #SogetiBattle Teams</h2>
      </header>
      
      <div class="inline-block-center">
        <a href='https://www.facebook.com/AppliedInnovationBattle'><div class="Social Facebook"></div></a>
        <a href='https://twitter.com/#sogetibattle'><div class="Social Twitter"></div></a>
        </br>
        <div class="team" ng-repeat="Team in Teams | orderBy : 'Points' : true">
          <a href='{{Team.url}}'>{{Team.name}}</a><br>
          <span ng-repeat="(Key, Value) in Team.Badges" title="{{Key}}">
            <div class="badge Bronze" ng-show="Value==='Bronze'">
              {{Key}}
              {{Value}}
            </div>
            <div class="badge Silver" ng-show="Value==='Silver'">
              {{Key}}
              {{Value}}
            </div>
            <div class="badge Gold" ng-show="Value==='Gold'">
              {{Key}}
              {{Value}}
            </div>
            <div class="badge Platinum" ng-show="Value==='Platinum'">
              {{Key}}
              {{Value}}
            </div>
            <div class="badge Diamond" ng-show="Value==='Diamond'">
              {{Key}}
              {{Value}}
            </div>
            <div class="badge Gray" ng-show="Value!=='Bronze' && Value!=='Silver' && Value!=='Gold' && Value!=='Platinum' && Value!=='Diamond'">
              {{Key}}     
            </div>
          </span>
        </div>
        
      </div>

    </div>


    <footer>
      <p>This project is maintained by <a href="https://github.com/ArndBrugman">Arnd Brugman</a> and Hosted on GitHub Pages</p>
    </footer>

    
  </body>
</html>
